* {
    box-sizing: border-box;
}

:root {
    --header-color: rgb(219, 66, 16, 0.9);
    --block-background-color: rgba(239, 220, 12, 0.5);
    --border-size: 2px solid orangered;
    --box-shadow-block: 0px 2px 3px rgb(199, 120, 91, 0.9);
}

body {
    padding: 0;
    margin: 0;
    background-color:rgb(240, 240, 227);
}

img {
    max-width: 100%;
    height: auto;
}

button:hover {
    cursor: pointer;
}

header {
    width: 100%;
    background-color: var(--header-color);
    box-shadow: 0px 3px 7px rgb(222, 206, 38, 0.9);
}

header h1 {
    font-size: 3rem;
    margin: 0;
}

#content {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 40px;
    height: 100%;
}

nav {
    display: flex;
    height: 70px;
    justify-content: center;
    gap: 50px;
    align-items:  flex-end;
    padding: 0 10px;
}

nav button {
    height: 50px;
    width: 200px;
    border-bottom: none;
}

h1 {
    text-align: center;
}

footer {
    width: 100%;
    height: 70px;
    background-color: var(--header-color);
    margin-top: 100px;
    padding: 0;
    box-shadow: 0 -3px 5px rgb(222, 206, 38, 0.9);
}

/* --------------------------------------- */

h1 {
    padding: 20px 0;
}

#opening-hours-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

#opening-hours-container > p{
    font-size: 1.2rem;
}

#contact-info-container {
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 1.1rem;
}

img {
    width: 100%;
    height: 300px;
}

#map {
    align-items: center;
    position: relative;
}

#map > p {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.3rem;
}