* {
    box-sizing: border-box;
}

:root {
    --header-color: rgb(219, 66, 16, 0.9);
    --block-background-color: rgba(239, 220, 12, 0.5);
    --border-size: 2px solid orangered;
    --box-shadow-block: 0px 2px 3px rgb(199, 120, 91, 0.9);
}

body {
    padding: 0;
    margin: 0;
    background-color:rgb(240, 240, 227);
}

img {
    max-width: 100%;
    height: auto;
  }

button:hover {
    cursor: pointer;
}

header {
    width: 100%;
    background-color: var(--header-color);
    box-shadow: 0px 3px 7px rgb(222, 206, 38, 0.9);
}

header h1 {
    font-size: 3rem;
    margin: 0;
}

#content {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 40px;
    height: 100%;
}

nav {
    display: flex;
    height: 70px;
    justify-content: center;
    gap: 50px;
    align-items:  flex-end;
    padding: 0 10px;
}

nav button {
    height: 50px;
    width: 200px;
    border-bottom: none;
}

h1 {
    text-align: center;
}

footer {
    width: 100%;
    height: 70px;
    background-color: var(--header-color);
    margin-top: 100px;
    padding: 0;
    box-shadow: 0 -3px 5px rgb(222, 206, 38, 0.9);
}

/* --------------------------------------- */

#first-hr {
    margin-bottom: -20px;
}

.hr-text {
    position: relative;
    border: none;
    border-top: 1px solid #ccc; /* Adjust as needed */
    color: #333;
    text-align: center;
    margin: 20px 0;
}

.hr-text::before {
    content: attr(data-content); /* This uses the data-content attribute */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white; /* Optional: match your background */
    padding: 0 10px;
    color: #333; /* Text color */
    font-weight: bold; /* Customize as needed */
}

.img-container {
    display: flex;
    justify-content: center; /* Center items horizontally in the container */
    align-items: center; /* Optional: Center items vertically in the container */
    gap: 20px;
}

img {
    width: 250px;
    background-color: rgba(38, 19, 19, 0.5);
    height: auto;
}

#food-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    margin: 0;
    padding-bottom: 20px;
}

.food-item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px;
    place-self: center;
}

.price-text {
    margin-left: auto;
    width: auto;
    font-size: 1.1rem;
    padding-right: 10px;
}

.food-description {
    text-align: start;
    margin-top: -10px;
    width: 90%;
}

#drink-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    margin: 0;
    justify-items: center;
    padding-bottom: 70px;
}

#menu-bottom-img {
    width: 100%;
    height: 200px;
    margin-bottom: -50px;
}
